<script>
	import Exercice from '$lib/Exercice.svelte';
	import Retour from '$lib/Retour.svelte';
	import { onMount } from 'svelte';
	import { blur, fade } from 'svelte/transition';
	import Api from '../../../api/Api';
	import { PlayAudio, keyDownAudio, keyUpAudio } from '$lib/GlobalFunc';
	import toast from 'svelte-french-toast';
	import Fetching from '$lib/Fetching.svelte';
	import { langue as lang } from '$lib/Store';

	/** @type {string} */
	const ESPACE = ' ⸱ '; // Caractère de remplacement pour les espaces

	/** @type {boolean} */
	let hasExerciceStarted = false; // L'exercice a commencé ?

	/** @type {boolean} */
	let hasExerciceEnded = false; // L'exercice est terminé ?

	/** @type {string}*/
	let sentences = ''; // La phrase à taper

	/** @type {string} */
	let source = ''; // La source de la phrase

	/** @type {Date} */
	let tempsDebut = new Date(); // Date de début de l'exercice

	/** @type {string} */
	let chronometreStr = '0:00'; // Temps écoulé depuis le début de l'exercice (format MM:ss)

	/** @type {boolean} */
	let isFetching = false; // Est-ce qu'on est en train de récupérer une phrase depuis l'API python ?

	/** @type {string} */
	let langue = $lang; // Langue de la phrase à récupérer

	/** @type {boolean} */
	let caseSensitive = true; // Majuscules sensibles ?

	/** @type {boolean} */
	let accentSensitive = true; // Accents sensibles ?

	/** @type {number} */
	let nbreMotsTapes = 0; // Nombre de mots tapés

	/** @type {number} */
	let nbreMotsTotal = 0; // Nombre de mots total

	/** @type {Array<string>} */
	$: letters = sentences.split(''); // La phrase à taper, séparée en lettres

	// Status de chaque lettre (tapée, fausse, etc.)
	/** @type {Array<{letter: string, typed: boolean, mistake: boolean}>} */
	$: lettersStatus = letters.map((_letter) => {
		return {
			letter: _letter.trim() || ESPACE, // La lettre à tapper. Si c'est un espace, on affiche le caractère de remplacement
			typed: false, // La lettre a été tapée par l'utilisateur ?
			mistake: false // L'utilisateur a fait une erreur en tappant cette lettre ?
		};
	});

	// Résultats de l'exercice
	/** @type {{
	 * tempsMisString: string,
	 * nbErreurs: number,
	 * nbCaracteres: number,
	 * vitesse: number,
	 * precision: number,
	 * score: number}} */
	let resultats = {
		tempsMisString: '0:00',
		nbErreurs: 0,
		nbCaracteres: 0,
		vitesse: 0,
		precision: 0,
		score: 0
	};

	onMount(() => {
		window.addEventListener('keyup', keyUp);

		window.addEventListener('keydown', keyDown);
	});

	/**
	 * Appelé lorsqu'une touche est relâchée
	 * @param {KeyboardEvent} event
	 */
	function keyUp(event) {
		keyUpAudio(event);
	}

	/**
	 * Appelé lorsqu'une touche est appuyée
	 * @param {KeyboardEvent} event
	 */
	function keyDown(event) {
		keyDownAudio(event);

		if (hasExerciceStarted) {
			// Une touche a été appuyée,
			// on doit mettre à jour le status de la lettre correspondante

			// Vérifie que c'est une lettre
			if (event.key.length !== 1) return;

			let currentLetter = lettersStatus.find((letter) => !letter.typed);

			if (currentLetter) {
				currentLetter.typed = true;

				let letterToType = currentLetter.letter;

				// Si l'utilisateur a choisi de ne pas tenir compte des majuscules
				if (!caseSensitive) {
					letterToType = letterToType.toLowerCase();
				}

				// Si l'utilisateur a choisi de ne pas tenir compte des accents
				if (!accentSensitive) {
					letterToType = letterToType.normalize('NFD').replace(/[\u0300-\u036f]/g, '');
				}

				// Si la lettre tapée est différente de la lettre attendue
				if ((letterToType === ESPACE ? ' ' : letterToType) !== event.key) {
					currentLetter.mistake = true;
				}

				// Met à jour le nombre de mots tapés
				if (letterToType === ESPACE) {
					nbreMotsTapes++;
				}

				// Si toutes les lettres ont été tapées
				if (lettersStatus.every((letter) => letter.typed)) {
					handleSentencesCompleted();
				}
			}

			lettersStatus = [...lettersStatus]; // Force la mise à jour du tableau
		} else if (event.key === 'Enter') {
			// L'utilisateur a appuyé sur ENTRÉE pour commencer l'exercice

			startExercice();
		}
	}

	/**
	 * Appelé lorsque l'utilisateur a terminé de taper les phrases
	 * @returns {void}
	 */
	function handleSentencesCompleted() {
		hasExerciceEnded = true;

		// Calcul du temps mis pour taper la phrase
		let dateFin = new Date();

		/** @type {number} */
		let tempsMis = Number(dateFin) - Number(tempsDebut);

		// Calcul de stats
		let nbErreurs = lettersStatus.filter((letter) => letter.mistake).length;
		let nbCaracteres = lettersStatus.length;

		// Appel l'API python pour récupérer les scores
		Api.api
			.calculer_score_typescript({
				temps_mis: tempsMis,
				nb_erreurs: nbErreurs,
				nb_caracteres: nbCaracteres
			})
			.then(
				/**
				 * @param response {any}
				 */ (response) => {
					resultats = response;
				}
			);
	}

	/**
	 * Démarre l'exercice
	 * Récupère une phrase aléatoire depuis l'API python
	 * @returns {Promise<void>}
	 */
	async function startExercice() {
		// Récupère une phrase aléatoire depuis l'API python
		hasExerciceStarted = true;

		isFetching = true;

		console.log(langue);
		const response = await Api.api.recuperer_phrase_aleatoire_typescript(langue);
		sentences = response.phrase;
		source = response.titre;

		// Met à jour le nombre de mots total
		nbreMotsTotal = sentences.split(' ').length;
		nbreMotsTapes = 0;

		isFetching = false;

		// Enregistre la date de début (pour calculer le temps mis pour taper la phrase)
		tempsDebut = new Date();

		// Met à jour le chronomètre toutes les secondes
		const chronometre = setInterval(() => {
			let dateFin = new Date();
			let tempsMis = Number(dateFin) - Number(tempsDebut);

			let minutes = Math.floor(tempsMis / 60000);
			let secondes = Math.floor((tempsMis % 60000) / 1000);

			// Met à jour le temps écoulé
			chronometreStr = `${minutes}:${secondes < 10 ? '0' : ''}${secondes}`;

			if (hasExerciceEnded) {
				clearInterval(chronometre);
			}
		}, 1000);
	}

	/**
	 * Appelé lorsque l'utilisateur quitte la page
	 * @returns {void}
	 */
	function quit() {
		// Enlève les event listeners
		window.removeEventListener('keyup', keyUp);
		window.removeEventListener('keydown', keyDown);
	}
</script>

<div class="flex pt-10 px-10 h-screen justify-center flex-col items-center w-screen">
	{#if !hasExerciceStarted}
		<h1 class="font-bold text-3xl -mt-12 mb-8">Type Script</h1>

		<Exercice image="/keyboard/typescript.jpg" link="/keyboard/type-script" nom="Type Script" handleClick={startExercice} />

		<div class="text-center">
			<p class="mt-8 text-xl mb-4">
				{$lang === 'fr' ? "Règles de l'exercice :" : 'Rules of the exercise :'}
			</p>
			<p class="text-lg">
				{$lang === 'fr'
					? "Vous devrez écrire le texte qui s'affichera le plus rapidement possible, tout en minimisant les erreurs de frappe."
					: 'You will have to write the text that will appear as quickly as possible, while minimizing typing errors.'}
			</p>
		</div>

		<div class="w-full max-w-[1000px] mt-4 p-4 justify-center items-center flex flex-row bg-[#ffffff25] rounded-xl">
			<div class="flex">
				<p class="pr-2">{$lang === 'fr' ? 'Langue' : 'Language'} :</p>
				<select bind:value={langue}>
					<option value="fr">Français</option>
					<option value="en">Anglais</option>
					<option value="de">Allemand</option>
					<option value="ar">Arabe</option>
					<option value="es">Espagnol</option>
					<option value="it">Italien</option>
				</select>
			</div>

			<label for="majuscules" class="text-lg">
				<input type="checkbox" class="ml-4 mr-1 accent-blue-800" id="majuscules" bind:checked={caseSensitive} />
				{$lang === 'fr' ? 'Majuscules' : 'Uppercase'}
			</label>

			<label for="accents" class="text-lg"
				><input type="checkbox" class="ml-4 mr-0.5 accent-blue-800" id="accents" bind:checked={accentSensitive} />
				Accents
			</label>
		</div>

		<p class="mt-4">
			{$lang === 'fr' ? "Appuyez sur la touche ENTRÉE pour commencer l'exercice" : 'Press the ENTER key to start the exercise'}
		</p>
	{:else}
		<div class="flex flex-col w-full">
			{#if !isFetching}
				<p>
					{$lang == 'fr' ? 'Nombre de mots tapés :' : 'Number of words typed :'}
					{nbreMotsTapes}/{nbreMotsTotal}
				</p>
				<p>
					{$lang == 'fr' ? 'Temps écoulé :' : 'Time elapsed :'}
					{chronometreStr}
				</p>

				<p class="mt-4 text-2xl text-justify">
					{#each lettersStatus as letter, i}
						<span
							class={'inconsolata ' +
								// Couleur des lettres tapées
								(letter.typed && !letter.mistake ? 'text-gray-700' : '') +
								' ' +
								// Couleur des lettres tapées et fausses
								(letter.mistake ? ' text-red-700' : '') +
								' ' +
								// Taille des espaces
								(letter.letter === ESPACE ? 'text-sm px-1 font-bold' : '') +
								' ' +
								// Couleur des espaces non tapés
								(letter.letter === ESPACE && !letter.typed ? 'text-gray-800' : '') +
								' ' +
								// Souligne la lettre à taper
								((i === 0 && lettersStatus[0].typed === false) || (i > 0 && lettersStatus[i - 1].typed && !lettersStatus[i].typed) ? ' underline' : '')}>{letter.letter}</span
						>
					{/each}
				</p>

				<p class="text-right mt-3">{source}</p>
			{/if}
		</div>

		{#if isFetching}
			<Fetching Text1={$lang === 'fr' ? "Récupération d'une phrase aléatoire depuis python..." : 'Fetching a random sentence from python...'} />
		{/if}

		{#if hasExerciceEnded}
			<div transition:fade class="absolute inset-0 backdrop-blur-sm flex items-center justify-center bg-black bg-opacity-20">
				<div class="flex flex-col gap-y-4 w-3/5 py-12 px-12 bg-[#abc8d6] text-black shadow-xl rounded-xl">
					<div class="text-2xl text-justify">
						<h2 class="text-4xl font-bold text-center mb-8">{$lang === 'fr' ? 'Vos résultats :' : 'Your results:'}</h2>

						<p>
							{$lang === 'fr' ? 'Temps mis :' : 'Time taken :'}
							{resultats.tempsMisString}
						</p>
						<p>
							{$lang === 'fr' ? 'Nombre de caractères :' : 'Number of characters :'}
							{resultats.nbCaracteres}
						</p>

						<p>{$lang === 'fr' ? "Nombre d'erreurs :" : 'Number of errors :'} {resultats.nbErreurs}</p>

						<p>{$lang === 'fr' ? 'Vitesse :' : 'Speed :'} {resultats.vitesse} {$lang === 'fr' ? 'caractères par seconde' : 'characters per second'}</p>
						<p>{$lang === 'fr' ? 'Précision :' : 'Accuracy :'} {resultats.precision}</p>

						<p class=" font-bold text-center mt-8">{$lang === 'fr' ? 'Score :' : 'Score :'} {resultats.score}</p>
					</div>

					<div class="flex justify-center gap-x-8 mt-4 h-14">
						<button
							class="bg-yellow-400 text-gray-800 font-bold py-2 px-4 rounded-md hover:bg-yellow-500 transition-all w-2/5"
							on:click={() => {
								window.location.reload();
							}}
						>
							{$lang === 'fr' ? 'Recommencer' : 'Restart'}
						</button>

						<a on:click={quit} class="bg-red-400 text-gray-800 font-bold py-2 px-4 rounded-md hover:bg-red-500 transition-all w-2/5 flex items-center justify-center" href="/keyboard">
							{$lang === 'fr' ? 'Quitter' : 'Quit'}
						</a>
					</div>
				</div>
			</div>
		{/if}
	{/if}

	<Retour urlToGo="/keyboard" taille="w-10 h-10 bottom-3 left-3 z-50" toExecuteBefore={quit} />
</div>
