@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Raleway', sans-serif;
	color: black;

	background-color: #9ebfe0;
}

.inconsolata {
	font-family: 'Inconsolata', monospace;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 4px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #00000028;
}
::-webkit-scrollbar-thumb {
	background: #00000028;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #0000004b;
}
